body {
  --keycap-height: 32px;
  --keycap-font-size: 12px;
  --keycap-shift-font-size: 6px;
  --keycap-small-font-size: 6px;
  --keycap-extra-small-font-size: 6px;
  --keyboard-toolbar-font-size: 16px;
  --keycap-gap: 4px;
}

.editor-container {
  width: 100%;
  /* padding: 20px; */
  border: 1px solid #ddd;
  /* border-radius: 8px; */
  background-color: #fff;
  font-family: sans-serif;
}


.editor-content img {
  max-width: 100%;
  margin: 10px 0;
}

.tiptap.ProseMirror:focus-within {
  outline: none
}

.tiptap.ProseMirror {
  min-height: 100%;
  border: "2px solid black";
}
